.main-panel {
    margin-top: 70px;
    width: 100%;
}

.main-content {
   margin-left: 78px;
   padding: 0 15px;
}

.link {
    color: #3483fa;
    cursor: pointer;
}

.text-muted {
    font-weight: 300;
    color: #999;
    margin-top: 10px;
}