* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dcdcdc;
  font-family: var(--font-family-primary)
}
  
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
