<div class="d-flex flex-wrap">
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>  
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
    <app-card title="Card"></app-card>
</div>